
@{
    ViewBag.Title = "Tarifa";
    Layout = "~/Views/Shared/_Default_Master.cshtml";
}
<div class="row ms-1">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
</div>

<h2>Tarifa</h2>
<script src="~/Recursos/Js/tarifa.js"></script>

