@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> NicaVuelos</h1>
    <p class="lead">
        Es una empresa que realiza vuelos con destinos nacionales y extranjeros, <strong>con muchos años de experiencia</strong>, nos caracterizamos por prestar un servicio de primera calidad, 
        con tarifas muy accesible para la persona que desea viajar.
    </p>
    <p>
        <a class="btn btn-primary" href="#" role="button"> <i class="fa fa-plus"></i> Leer mas</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tarifas de Vuelos</h2>
        <p>
            Puedes conocer nuestras tarifas de vuelos a los diferentes partes del mundo, descuentos y mucho más.
        </p>
        <p>
            <a class="btn btn-outline-dark" href="~/Tarifas/Tarifa">
                <i class="fa fa-coins"></i> Leer más
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Destinos de vuelos</h2>
        <p>
            Conozca los diferentes destinos nacionales, extranjeros que ofrecemos en NicaVuleos y mucho más.
        </p>
        <p>
            <a class="btn btn-outline-dark" href="#">
                <i class="fa fa-plane-departure"></i> Leer más
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reserve tu vuelo</h2>
        <p>
            Si desea realizar su reservación de vuelo con nosotros, será una experiencia inolvidable, haga clic al enlace
        </p>
        <p>
            <a class="btn btn-outline-dark" href="#">
                <i class="fa fa-eye"></i> Leer más
            </a>
        </p>
    </div>
</div>